.design-stage--background-background-1 { background: url("../assets/design-background-1.png") center / cover no-repeat; }
.design-stage--background-liquid { background: url("../assets/design-background-liquid.png") center / cover no-repeat; }
.design-stage--background-city { background: url("../assets/design-background-interstellar.jpg") center / cover no-repeat; }
.design-stage--background-mechanical { background: url("../assets/design-background-mechanical.jpg") center / cover no-repeat; }
